.jobs {
	&__container {
		max-width: 1044px;
	}
	&__title {
		margin-bottom: 68px;
		text-align: center;
	}
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 77px;
		row-gap: 44px;
		margin-bottom: 44px;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__button {
		font-size: 18px;
		font-weight: 600;
		padding: 28px 24px 29px 24px;
		max-width: 459px;
		width: 100%;
		text-transform: unset;
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 1060px) {
	.jobs {
		&__title {
			font-size: 24px;
			margin-bottom: 35px;
		}
		&__list {
			max-width: 352px;
			margin-left: auto;
			margin-right: auto;
			column-gap: 64px;
			row-gap: 41px;
			margin-bottom: 29px;
			&:last-of-type {
				display: none;
			}
		}
		&__item {
			&-1 {
				order: 3;
			}
			&-2 {
				order: 1;
			}
			&-3 {
				order: 2;
			}
			&-4 {
				order: 4;
			}
		}
		&__icon {
			&-1 {
				width: 125px;
				height: 33px;
				order: 3;
			}
			&-2 {
				width: 48px;
				height: 33px;
				order: 1;
			}
			&-3 {
				width: 191px;
				height: 33px;
				order: 2;
			}
			&-4 {
				width: 129px;
				height: 33px;
				order: 4;
			}
		}
		&__button {
			max-width: 364px;
			font-size: 14px;
			padding-top: 22px;
			padding-bottom: 23px;
			margin-top: 35px;
		}
	}
}

@media (max-width: 480px) {
	.jobs {
		&__title {
			font-size: 20px;
		}
		&__list {
			row-gap: 35px;
		}
	}
}
