.line {
	display: flex;
	&__title {
		color: var(--white-color);
		width: 693px;
		text-align: center;
		font-size: 32px;
		font-weight: 700;
		line-height: 129%;
		white-space: nowrap;
		padding: 30px 63px 29px;
		background: var(--dark-green-color);
		margin-left: -1px;
		&:first-child {
			padding-left: 125px;
		}
	}
}

@media (max-width: 1024px) {
	.line {
		&__title {
			padding: 24px 16px 25px 16px;
			font-size: 16px;
		}
	}
}
