<section class="about">
	<div class="container about__container">
		<h2 class="title title__h2 about__title title__h2-green">О компании</h2>
		<div class="about__content">
			<img src="./img/about-image.png" class="image about__image" width="478" height="432" alt="Фото о нас" />
			<div class="about__textarea">
				<h5 class="title about__title-textarea">
					Компания с 2013 года оказывает услуги по сервису лабораторного аналитического оборудования
				</h5>
				<ul class="list-reset about__list">
					<li class="about__item">
						С 2016 года работаем с Государственными заказчиками, в том числе по ГОЗ.
					</li>
					<li class="about__item">В 2017 году получена лицензия на образовательную деятельность. №038429</li>
					<li class="about__item">
						С 2018 года нашими постоянными клиентами становятся крупнейшие государственные учреждения и
						стратегические предприятия.
					</li>
					<li class="about__item">
						В 2020 году в структуре нашей компании появляется аккредитованная метрологическая служба, теперь
						поверки делаем сами. №RA.RU.312885
					</li>
					<li class="about__item">
						В 2022 году получена лицензия на обслуживание медицинской техники №Л016-00110-77/00150011
					</li>
					<li class="about__item">В 2022 году был открыт филиал в г. Самара</li>
				</ul>
			</div>
		</div>
	</div>
</section>
