<section class="banner">
	<div class="container banner__container">
		<!-- первый вариант баннера услуги -->
		<div class="banner__content banner__content-1">
			<h2 class="title title__h2 banner__title">
				Техническое обслуживание и ремонт
				<span class="title__h2-green">
					лабораторного, метрологического и испытательного оборудования, приборов для производственных и
					лабораторных организаций
				</span>
				<span class="banner__text-nowrap">«Под ключ»,</span> по всей России
			</h2>
			<h4 class="title banner__subtitle">
				Оставьте заявку на консультации инженера по ремонту и обслуживанию оборудования
			</h4>
			<button class="btn-reset button__primary banner__button banner__button-desktop">Оставить заявку</button>
		</div>
		<img
			src="./img/banner-image-1.png"
			class="image banner__image"
			width="481"
			height="492"
			alt="Изображение на баннере"
		/>

		<!-- второй вариант баннера услуги -->
		<!-- <div class="banner__content banner__content-2">
			<h2 class="title title__h2 title__h2-green banner__title">
				Обучение и повышение квалификации от практикующих специалистов, с выдачей сертификатов гос. образца, от
				компании M-lab
			</h2>
			<ul class="list-reset banner__list">
				<li class="banner__item">
					<span class="banner__item-dash">-</span> обучение работы с лабораторным оборудованием
				</li>
				<li class="banner__item">
					<span class="banner__item-dash">-</span> согласовать еще направление обучения
				</li>
				<li class="banner__item">
					<span class="banner__item-dash">-</span> согласовать еще направление обучения
				</li>
				<li class="banner__item">
					<span class="banner__item-dash">-</span> согласовать еще направление обучения
				</li>
			</ul>
			<button class="btn-reset button__primary banner__button banner__button-desktop">Оставить заявку</button>
		</div>
		<img
			src="./img/banner-image-2.png"
			class="image banner__image"
			width="481"
			height="492"
			alt="Изображение на баннере"
		/> -->

		<!-- третий вариант баннера услуги -->
		<!-- <div class="banner__content banner__content-3">
			<h2 class="title title__h2 title__h2-green banner__title">Метрологические услуги:</h2>
			<ul class="list-reset banner__list">
				<li class="banner__item">Поверка измерительных приборов</li>
				<li class="banner__item">Аттестация испытательного оборудования</li>
				<li class="banner__item">Утверждение / продление / изменение типа СИ</li>
				<li class="banner__item">Разработка тех. документации</li>
				<li class="banner__item">Метрологическое сопровождение лабораторий</li>
			</ul>
			<h3 class="title banner__subtitle-bigger">Оставьте заявку на консультацию инженера-метролога</h3>
			<button class="btn-reset button__primary banner__button banner__button-desktop">Оставить заявку</button>
		</div>
		<img
			src="./img/banner-image-3.png"
			class="image banner__image"
			width="481"
			height="492"
			alt="Изображение на баннере"
		/> -->

		<!-- четвертый вариант баннера услуги -->
		<!-- <div class="banner__content banner__content-4">
			<h2 class="title title__h2 banner__title">
				<span class="title__h2-green">Поставки</span> для аналитического оборудования лабораторий:
			</h2>
			<ul class="list-reset banner__list">
				<li class="banner__item">Расходных материалов</li>
				<li class="banner__item">Запчастей</li>
				<li class="banner__item">Подбор и поставки оборудования</li>
			</ul>
			<h3 class="title banner__subtitle">Для оборудования производителей:</h3>
			<p class="paragraph banner__paragraph">Agilent, Analytik Jena, Хроматек, Thermo, Shimadzu</p>
			<button class="btn-reset button__primary banner__button banner__button-desktop">Оставить заявку</button>
		</div>
		<img
			src="./img/banner-image-3.png"
			class="image banner__image"
			width="481"
			height="492"
			alt="Изображение на баннере"
		/> -->

		<!-- пятый вариант баннера услуги -->
		<!-- <div class="banner__content banner__content-5">
			<h2 class="title title__h2 banner__title">
				Проектирование, монтаж, обслуживание и ремонт
				<span class="title__h2-green">
					систем подачи газо- водо и электроснабжения для лабораторного оборудования
				</span>
			</h2>
			<button class="btn-reset button__primary banner__button banner__button-desktop">Оставить заявку</button>
		</div>
		<img
			src="./img/banner-image-3.png"
			class="image banner__image"
			width="481"
			height="492"
			alt="Изображение на баннере"
		/> -->
	</div>
	<!-- <div class="container banner__container">
		<div class="banner__content banner__content-1">
			<h2 class="title title__h2 banner__title">
				Техническое обслуживание и ремонт
				<span class="title__h2-green">
					лабораторного, метрологического и испытательного оборудования, приборов для производственных и
					лабораторных организаций
				</span>
				<span class="banner__text-nowrap">«Под ключ»,</span> по всей России
			</h2>
			<ul class="list-reset banner__list">
				<li class="banner__item">Хроматографы</li>
				<li class="banner__item">Атомные абсорбционные спектрометры</li>
				<li class="banner__item">Эмиссионные ICP спектрометры</li>
				<li class="banner__item">ICP-MS</li>
			</ul>
			<button class="btn-reset button__primary banner__button banner__button-desktop">
				Оставить заявку
			</button>
		</div>
		<img
			src="./img/banner-image-1.png"
			class="image banner__image"
			width="481"
			height="492"
			alt="Изображение на баннере"
		/>
		<button class="btn-reset button__primary banner__button banner__button-mobile">Оставить заявку</button>
	</div> -->
</section>
