<section class="cases">
	<div class="container cases__container">
		<h2 class="title cases__title title__h2-green">Выполненные Проекты</h2>
		<div class="cases__container-cases">
			<div class="cases__row">
				<div class="cases__column">
					<div class="cases__textarea">
						<div class="cases__heading">
							<p class="paragraph cases__paragraph cases__paragraph-bold cases__paragraph-title">
								Срочный ремонт оборудования
							</p>
							<p class="paragraph cases__paragraph cases__paragraph-bold">Срок 2 дня</p>
							<p class="paragraph cases__paragraph cases__paragraph-bold">Клиент: ООО «***»</p>
						</div>
						<div class="cases__external">
							<p class="paragraph cases__paragraph cases__paragraph-bold">Вводные данные:</p>
							<p class="paragraph cases__paragraph">
								Позвонил заказчик, сломалось оборудование на производстве. Необходимых деталей в наличии
								нет. Гарантия на оборудование вышла
							</p>
						</div>
						<div class="cases__done">
							<p class="paragraph cases__paragraph cases__paragraph-bold">Что сделали:</p>
							<ul class="list-reset cases__list">
								<li class="cases__item">
									<p class="paragraph cases__paragraph">
										Разработали 3D-модель недостающих деталей и напечатали на 3D-принтере.
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="cases__manager">
						<img
							src="./img/cases-avatar-1.png"
							class="image cases__avatar"
							width="68"
							height="68"
							alt="Аватар менеджера"
						/>
						<div class="cases__content">
							<h4 class="title cases__title-name">Колесов Евгений</h4>
							<h5 class="title cases__title-organization">ФСО РОССИИ</h5>
							<p class="paragraph cases__text">
								тзшйцрзшшйцазцйршт атвйэаптц ецтйэет йецтк дэлйтеэдй авыжфа жыфта жлвыфттавфы афы
								fsa;ldnfln;SAD fdnалтвы афвдэафыв
							</p>
						</div>
					</div>
				</div>
				<img
					src="./img/cases-image-1.png"
					class="image cases__image"
					width="573"
					height="425"
					alt="Изобрадение проекта"
				/>
			</div>
			<div class="cases__row">
				<div class="cases__column">
					<div class="cases__textarea">
						<div class="cases__heading">
							<p class="paragraph cases__paragraph cases__paragraph-bold cases__paragraph-title">
								Срочный ремонт оборудования
							</p>
							<p class="paragraph cases__paragraph cases__paragraph-bold">Срок 2 дня</p>
							<p class="paragraph cases__paragraph cases__paragraph-bold">Клиент: ООО «***»</p>
						</div>
						<div class="cases__external">
							<p class="paragraph cases__paragraph cases__paragraph-bold">Вводные данные:</p>
							<p class="paragraph cases__paragraph">
								Позвонил заказчик, сломалось оборудование на производстве. Необходимых деталей в наличии
								нет. Гарантия на оборудование вышла
							</p>
						</div>
						<div class="cases__done">
							<p class="paragraph cases__paragraph cases__paragraph-bold">Что сделали:</p>
							<ul class="list-reset cases__list">
								<li class="cases__item">
									<p class="paragraph cases__paragraph">
										Разработали 3D-модель недостающих деталей и напечатали на 3D-принтере.
									</p>
								</li>
								<li class="cases__item">
									<p class="paragraph cases__paragraph">
										Произвели полный аудит оборудования и пуско-накладку
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="cases__manager">
						<img
							src="./img/cases-avatar-2.png"
							class="image cases__avatar"
							width="68"
							height="68"
							alt="Аватар менеджера"
						/>
						<div class="cases__content">
							<h4 class="title cases__title-name">Баринов Александр</h4>
							<h5 class="title cases__title-organization">ФБУН НИИ СБМ РОСПОТРЕБНАДЗОРА</h5>
							<p class="paragraph cases__text">
								тзшйцрзшшйцазцйршт атвйэаптц ецтйэет йецтк дэлйтеэдй авыжфа жыфта жлвыфттавфы афы
								fsa;ldnfln;SAD fdnалтвы афвдэафыв
							</p>
						</div>
					</div>
				</div>
				<img
					src="./img/cases-image-2.png"
					class="image cases__image"
					width="573"
					height="425"
					alt="Изобрадение проекта"
				/>
			</div>
		</div>
		<button class="btn-reset button__primary cases__button">Задать вопрос по своему проекту</button>
	</div>
</section>
