<section class="coach">
	<div class="container coach__container">
		<div class="title coach__title">А кто обучает?</div>
		<div class="coach__grid">
			<div class="coach__item">
				<div class="coach__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image coach__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="coach__textarea">
					<p class="paragraph coach__name">Имя Фамилия</p>
					<p class="paragraph coach__job">Руководитель проектного отдела</p>
					<div class="coach__education">
						<p class="paragraph coach__title-textarea">Образование:</p>
						<p class="paragraph coach__text-textarea">Высшее, СПБГУ, инженер-строитель</p>
					</div>
					<div class="coach__expertance">
						<p class="paragraph coach__title-textarea">Экспертность:</p>
						<p class="paragraph coach__text-textarea">Организация и управление проектами</p>
					</div>
					<div class="coach__experience">
						<p class="paragraph coach__title-textarea">Опыт работы:</p>
						<p class="paragraph coach__text-textarea">более 10 лет, участие и реализация 20 проектов</p>
					</div>
				</div>
			</div>
			<div class="coach__item">
				<div class="coach__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image coach__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="coach__textarea">
					<p class="paragraph coach__name">Имя Фамилия</p>
					<p class="paragraph coach__job">Руководитель производства</p>
					<div class="coach__education">
						<p class="paragraph coach__title-textarea">Образование:</p>
						<p class="paragraph coach__text-textarea">Высшее, СПБГУ, инженер-строитель</p>
					</div>
					<div class="coach__expertance">
						<p class="paragraph coach__title-textarea">Экспертность:</p>
						<p class="paragraph coach__text-textarea">Организация и управление проектами</p>
					</div>
					<div class="coach__experience">
						<p class="paragraph coach__title-textarea">Опыт работы:</p>
						<p class="paragraph coach__text-textarea">более 10 лет, участие и реализация 20 проектов</p>
					</div>
				</div>
			</div>
			<div class="coach__item">
				<div class="coach__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image coach__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="coach__textarea">
					<p class="paragraph coach__name">Имя Фамилия</p>
					<p class="paragraph coach__job">Инженер</p>
					<div class="coach__education">
						<p class="paragraph coach__title-textarea">Образование:</p>
						<p class="paragraph coach__text-textarea">Высшее, СПБГУ, инженер-строитель</p>
					</div>
					<div class="coach__expertance">
						<p class="paragraph coach__title-textarea">Экспертность:</p>
						<p class="paragraph coach__text-textarea">Организация и управление проектами</p>
					</div>
					<div class="coach__experience">
						<p class="paragraph coach__title-textarea">Опыт работы:</p>
						<p class="paragraph coach__text-textarea">более 10 лет, участие и реализация 20 проектов</p>
					</div>
				</div>
			</div>
			<div class="coach__item">
				<div class="coach__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image coach__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="coach__textarea">
					<p class="paragraph coach__name">Имя Фамилия</p>
					<p class="paragraph coach__job">Инженер</p>
					<div class="coach__education">
						<p class="paragraph coach__title-textarea">Образование:</p>
						<p class="paragraph coach__text-textarea">Высшее, СПБГУ, инженер-строитель</p>
					</div>
					<div class="coach__expertance">
						<p class="paragraph coach__title-textarea">Экспертность:</p>
						<p class="paragraph coach__text-textarea">Организация и управление проектами</p>
					</div>
					<div class="coach__experience">
						<p class="paragraph coach__title-textarea">Опыт работы:</p>
						<p class="paragraph coach__text-textarea">более 10 лет, участие и реализация 20 проектов</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
