<section class="consult">
	<div class="container consult__container">
		<div class="consult__container-inner">
			<div class="consult__content">
				<div class="consult__heading">
					<h2 class="title title__h2-green consult__title">Нужна консультация специалиста?</h2>
					<h3 class="title consult__subtitle">
						Оставьте заявку, чтобы обсудить с Вашим персональным менеджером
						<span class="consult__nowrap">объем работ, сроки</span> и стоимость
					</h3>
				</div>
				<div class="consult__textarea">
					<p class="paragraph consult__paragraph">Ответим на вопросы</p>
					<p class="paragraph consult__paragraph">Оптимизируем смету</p>
					<p class="paragraph consult__paragraph">Проконсультируем по нормативной базе</p>
				</div>
				<form class="consult__form">
					<input
						class="consult__input phone-mask-input"
						type="text"
						name="phone"
						id="phone"
						placeholder="+7 (999) 999-99-99"
					/>
					<button class="btn-reset consult__button button__primary" type="submit">Отправить заявку</button>
				</form>
				<p class="paragraph consult__paragraph-smaller">
					Нажимая на кнопку
					<span class="consult__paragraph-smaller-bold">
						«Отправить заявку», я даю согласие на обработку персональных данных и соглашаюсь с условиями
						политики конфиденциальности
					</span>
				</p>
			</div>
			<img
				src="./img/consult-image.png"
				class="image consult__image"
				width="380"
				height="395"
				alt="Законченная работа"
			/>
		</div>
	</div>
</section>
