<section class="daily">
	<div class="container daily__container">
		<div class="daily__content">
			<h2 class="title title__h2 daily__title">
				<span class="daily__title-green">Оптимизируем Ваши ежегодные расходы</span> на обслуживание
				оборудования:
			</h2>
			<ul class="list-reset daily__list">
				<li class="daily__item">Качественное обслуживание оборудования</li>
				<li class="daily__item">Прямые поставки от производителей</li>
				<li class="daily__item">
					Подбор лучшего оборудования по соотношению <span class="daily__text-nobreak">цена/качество</span>,
					под Вашу задачу
				</li>
				<li class="daily__item">
					Удобная работа по принципу одного окна, за счет собственных мастеров, своей лаборатории и своих
					цепочек поставок
				</li>
			</ul>
			<button class="btn-reset button__primary daily__button">Получить консультацию</button>
		</div>
		<picture>
			<source srcset="./img/daily-bg-tablet.png" media="(max-width: 825px)" />
			<img
				src="./img/daily-bg.png"
				class="image daily__image"
				width="617"
				height="587"
				alt="Законченная работа"
			/>
		</picture>
	</div>
</section>
