<section class="descr">
	<!-- <div class="container descr__container descr__container-1">
		<h2 class="title descr__title">Наши преимущества</h2>
		<ul class="list-reset descr__list">
			<li class="descr__item descr__item-1">
				<img
					src="./img/descr-icon-7.svg"
					class="image descr__icon descr__icon-1"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-1">Бесплатная диагностика</h4>
			</li>
			<li class="descr__item descr__item-2">
				<img
					src="./img/descr-icon-2.svg"
					class="image descr__icon descr__icon-2"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-2">Срок ремонта от 1 дня</h4>
			</li>
			<li class="descr__item descr__item-3">
				<img
					src="./img/descr-icon-3.svg"
					class="image descr__icon descr__icon-3"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-3">Ремонт на уровне компонентов</h4>
			</li>
			<li class="descr__item descr__item-4">
				<img
					src="./img/descr-icon-8.svg"
					class="image descr__icon descr__icon-4"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-4">Работаем по всей России</h4>
			</li>
			<li class="descr__item descr__item-5">
				<img
					src="./img/descr-icon-9.svg"
					class="image descr__icon descr__icon-5"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-5">Гарантия 12 месяцев</h4>
			</li>
			<li class="descr__item descr__item-6">
				<img
					src="./img/descr-icon-10.svg"
					class="image descr__icon descr__icon-6"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-6">
					Беремся за обслуживание даже после истечения гарантийного срока
				</h4>
			</li>
		</ul>
	</div> -->
	<!-- <div class="container descr__container descr__container-2">
		<h2 class="title descr__title">Наши преимущества</h2>
		<ul class="list-reset descr__list">
			<li class="descr__item descr__item-1">
				<img
					src="./img/descr-icon-1.svg"
					class="image descr__icon descr__icon-1"
					width="57"
					height="57"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-1">Имеем аккредитации в области метрологии</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item descr__item-2">
				<img
					src="./img/descr-icon-2.svg"
					class="image descr__icon descr__icon-2"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-2">Работаем с 2013 года</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item descr__item-3">
				<img
					src="./img/descr-icon-3.svg"
					class="image descr__icon descr__icon-3"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-3">Своя лаборатория в Москве</h4>
				<p class="paragraph descr__paragraph descr__paragraph-3">
					(всегда доступная, полностью укомплектованная лаборатория)
				</p>
			</li>
			<li class="descr__item descr__item-4">
				<img
					src="./img/descr-icon-4.svg"
					class="image descr__icon descr__icon-4"
					width="67"
					height="61"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-4">Есть лицензия на обслуживание мед. техники</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item descr__item-5">
				<img
					src="./img/descr-icon-5.svg"
					class="image descr__icon descr__icon-5"
					width="67"
					height="61"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-5">Работаем с гос заказом</h4>
				<p class="paragraph descr__paragraph descr__paragraph-5">в том числе по ГосОборонЗаказом (ГОЗ)</p>
			</li>
			<li class="descr__item descr__item-6">
				<img
					src="./img/descr-icon-6.svg"
					class="image descr__icon descr__icon-6"
					width="67"
					height="61"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-6">
					Гос. Лицензия на образовательную деятельность
				</h4>
				<p class="paragraph descr__paragraph descr__paragraph-6">(№038429)</p>
			</li>
		</ul>
	</div> -->
	<div class="container descr__container descr__container-1">
		<h2 class="title descr__title">О компании</h2>
		<ul class="list-reset descr__list">
			<li class="descr__item descr__item-1">
				<img
					src="./img/descr-icon-11.svg"
					class="image descr__icon descr__icon-1"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-1">Имеем все необходимые аккредитации</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item descr__item-2">
				<img
					src="./img/descr-icon-2.svg"
					class="image descr__icon descr__icon-2"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-2">Работаем с 2013 года</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item descr__item-3">
				<img
					src="./img/descr-icon-12.svg"
					class="image descr__icon descr__icon-3"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-3">Своя лаборатория в Москве</h4>
				<p class="paragraph descr__paragraph descr__paragraph-3">
					(всегда доступная, полностью укомплектованная лаборатория)
				</p>
			</li>
			<li class="descr__item descr__item-4">
				<img
					src="./img/descr-icon-13.svg"
					class="image descr__icon descr__icon-4"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-4">Есть лицензия на обслуживание мед. техники</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">(№Л016-00110-77/00150011)</p>
			</li>
			<li class="descr__item descr__item-5">
				<img
					src="./img/descr-icon-9.svg"
					class="image descr__icon descr__icon-5"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-5">Работаем с гос заказом</h4>
				<p class="paragraph descr__paragraph descr__paragraph-5">в том числе по ГосОборонЗаказом (ГОЗ)</p>
			</li>
			<li class="descr__item descr__item-6">
				<img
					src="./img/descr-icon-10.svg"
					class="image descr__icon descr__icon-6"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-6">
					Гос. Лицензия на образовательную деятельность
				</h4>
				<p class="paragraph descr__paragraph descr__paragraph-6">(№038429)</p>
			</li>
		</ul>
	</div>
</section>
