<section class="descr">
	<div class="container descr__container">
		<h2 class="title descr__title">О компании M-lab</h2>
		<ul class="list-reset descr__list">
			<li class="descr__item">
				<img
					src="./img/descr-icon-1.svg"
					class="image descr__icon descr__icon-1"
					width="57"
					height="57"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-1">Имеем аккредитации в области метрологии</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item">
				<img
					src="./img/descr-icon-2.svg"
					class="image descr__icon descr__icon-2"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-2">Работаем с 2013 года</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item">
				<img
					src="./img/descr-icon-3.svg"
					class="image descr__icon descr__icon-3"
					width="50"
					height="50"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-3">Своя лаборатория в Москве</h4>
				<p class="paragraph descr__paragraph descr__paragraph-3">
					(всегда доступная, полностью укомплектованная лаборатория)
				</p>
			</li>
			<li class="descr__item">
				<img
					src="./img/descr-icon-4.svg"
					class="image descr__icon descr__icon-4"
					width="67"
					height="61"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-4">Есть лицензия на обслуживание мед. техники</h4>
				<p class="paragraph descr__paragraph descr__paragraph-1">
					(наши преподаватели работают в этой сфере ежедневно)
				</p>
			</li>
			<li class="descr__item">
				<img
					src="./img/descr-icon-5.svg"
					class="image descr__icon descr__icon-5"
					width="67"
					height="61"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-5">Работаем с гос заказом</h4>
				<p class="paragraph descr__paragraph descr__paragraph-5">в том числе по ГосОборонЗаказом (ГОЗ)</p>
			</li>
			<li class="descr__item">
				<img
					src="./img/descr-icon-6.svg"
					class="image descr__icon descr__icon-6"
					width="67"
					height="61"
					alt="Иконка описания компании"
				/>
				<h4 class="title descr__title-item descr__title-item-6">
					Гос. Лицензия на образовательную деятельность
				</h4>
				<p class="paragraph descr__paragraph descr__paragraph-6">(№038429)</p>
			</li>
		</ul>
	</div>
</section>
