<!-- docs main -->
<!-- <section class="docs">
	<div class="container docs__container">
		<div class="docs__container-bg">
			<div class="docs__textarea">
				<h2 class="title title__h2 docs__title">
					<span class="title__h2-green">Выдаем сертификаты и дипломы</span> о прохождении обучения
				</h2>
				<p class="paragraph docs__paragraph docs__paragraph-first">
					Вы получите сертификат установленного образца, который станет дополнительным аргументом для
					работодателя.
				</p>
				<p class="paragraph docs__paragraph docs__paragraph-second">
					Мы обучаем по государственной лицензии
					<span class="docs__paragraph-bold">№Л035−1 298−77/179 609.</span>
				</p>
			</div>
			<img
				src="./img/docs-image.png"
				class="image docs__image"
				width="401"
				height="375"
				alt="Изображение женщины с сертификатом"
			/>
		</div>
	</div>
</section> -->

<!-- docs 1 -->
<!-- <section class="docs docs-1">
	<div class="container docs__container docs__container-1">
		<div class="docs__container-bg">
			<div class="docs__textarea">
				<h2 class="title title__h2 title__h2-green docs__title">Получить сертификат об утверждении типа СИ</h2>
				<h3 class="title docs__subtitle">Оставьте заявку и мы рассчитаем:</h3>
				<ul class="list-reset docs__list">
					<li class="docs__item">объем работ, сроки и стоимость</li>
					<li class="docs__item">проведём экспертизу документов</li>
					<li class="docs__item">приедем к вам на производство</li>
					<li class="docs__item">составим пошаговый план действий</li>
				</ul>
				<button class="btn-reset button__primary docs__button">Подать заявку</button>
			</div>
			<img
				src="./img/docs-image-1.png"
				class="image docs__image-1"
				width="453"
				height="369"
				alt="Изображение подписания документа"
			/>
		</div>
	</div>
</section> -->

<!-- docs 2 -->
<!-- <section class="docs docs-2">
	<div class="container docs__container">
		<div class="docs__container-bg">
			<div class="docs__textarea">
				<h3 class="title docs__subtitle">Получите консультацию инженера по необходимым работам</h3>
				<ul class="list-reset docs__list">
					<li class="docs__item">Монтаж</li>
					<li class="docs__item">Ремонт</li>
					<li class="docs__item">Обслуживание</li>
				</ul>
				<h3 class="title docs__subtitle docs__subtitle-green">У нас можно просто спросить!</h3>
				<button class="btn-reset button__primary docs__button">Задать вопрос</button>
			</div>
			<img
				src="./img/docs-image-2.png"
				class="image docs__image-2"
				width="544"
				height="421"
				alt="Изображение инженера с калькулятором"
			/>
		</div>
	</div>
</section> -->

<!-- docs 3 -->
<section class="docs docs-2 docs-3">
	<div class="container docs__container">
		<div class="docs__container-bg">
			<div class="docs__textarea">
				<h3 class="title docs__subtitle">Получите консультацию инженера по необходимым работам</h3>
				<h3 class="title docs__subtitle docs__subtitle-green">У нас можно просто спросить!</h3>
				<button class="btn-reset button__primary docs__button">Задать вопрос</button>
			</div>
			<img
				src="./img/docs-image-2.png"
				class="image docs__image-2"
				width="544"
				height="421"
				alt="Изображение инженера с калькулятором"
			/>
		</div>
	</div>
</section>
