<section class="docs">
	<div class="container docs__container">
		<div class="docs__container-bg">
			<div class="docs__textarea">
				<h2 class="title title__h2 docs__title">
					<span class="title__h2-green">Выдаем сертификаты и дипломы</span> о прохождении обучения
				</h2>
				<p class="paragraph docs__paragraph docs__paragraph-first">
					Вы получите сертификат установленного образца, который станет дополнительным аргументом для
					работодателя.
				</p>
				<p class="paragraph docs__paragraph docs__paragraph-second">
					Мы обучаем по государственной лицензии
					<span class="docs__paragraph-bold">№Л035−1 298−77/179 609.</span>
				</p>
			</div>
			<img
				src="./img/docs-image.png"
				class="image docs__image"
				width="401"
				height="375"
				alt="Изображение женщины с сертификатом"
			/>
		</div>
	</div>
</section>
