<section class="faq">
	<div class="container faq__container">
		<h2 class="title title__h2 faq__title">Остались <span class="title__h2-green">вопросы?</span></h2>
		<div class="faq__container-accordions">
			<div class="accordion">
				<div class="accordion__control faq__control" aria-expanded="false">
					<h5 class="title faq__title-control faq__title-control">
						Где взять методику поверки/калибровки на СИ?
					</h5>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="faq__icon"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
					>
						<circle cx="16" cy="16" r="16" fill="#359E5F" />
						<line x1="16" y1="7" x2="16" y2="26" stroke="white" stroke-width="2" class="faq__icon-line" />
						<line x1="6" y1="16" x2="26" y2="16" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<div class="accordion__content" aria-hidden="true">
					Даже если срок действия сертификата на средство измерения (СИ) истек, вы все равно можете продолжать
					использовать его, проводить поверку и калибровку, а также выполнять ремонт такого серсдства. В то же
					время важно отметить, что запрещается производство и продажа таких измерительных устройств.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__control faq__control" aria-expanded="false">
					<h5 class="title faq__title-control">
						Есть ли в реестре мое СИ, и на какой срок выдано свидетельство?
					</h5>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="faq__icon"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
					>
						<circle cx="16" cy="16" r="16" fill="#359E5F" />
						<line x1="16" y1="7" x2="16" y2="26" stroke="white" stroke-width="2" class="faq__icon-line" />
						<line x1="6" y1="16" x2="26" y2="16" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<div class="accordion__content" aria-hidden="true">
					Даже если срок действия сертификата на средство измерения (СИ) истек, вы все равно можете продолжать
					использовать его, проводить поверку и калибровку, а также выполнять ремонт такого серсдства. В то же
					время важно отметить, что запрещается производство и продажа таких измерительных устройств.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__control faq__control" aria-expanded="false">
					<h5 class="title faq__title-control">
						Можно ли пользоваться тем или иным СИ, если оно исключено из реестра, или закончился срок
						действия сертификата?
					</h5>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="faq__icon"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
					>
						<circle cx="16" cy="16" r="16" fill="#359E5F" />
						<line x1="16" y1="7" x2="16" y2="26" stroke="white" stroke-width="2" class="faq__icon-line" />
						<line x1="6" y1="16" x2="26" y2="16" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<div class="accordion__content" aria-hidden="true">
					Даже если срок действия сертификата на средство измерения (СИ) истек, вы все равно можете продолжать
					использовать его, проводить поверку и калибровку, а также выполнять ремонт такого серсдства. В то же
					время важно отметить, что запрещается производство и продажа таких измерительных устройств.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__control faq__control" aria-expanded="false">
					<h5 class="title faq__title-control faq__title-control-4">
						Возможна ли калибровка / поверка СИ на объекте (завод, фабрика, производство). Без демонтажа
						работающего оборудования?
					</h5>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="faq__icon"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
					>
						<circle cx="16" cy="16" r="16" fill="#359E5F" />
						<line x1="16" y1="7" x2="16" y2="26" stroke="white" stroke-width="2" class="faq__icon-line" />
						<line x1="6" y1="16" x2="26" y2="16" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<div class="accordion__content" aria-hidden="true">
					Даже если срок действия сертификата на средство измерения (СИ) истек, вы все равно можете продолжать
					использовать его, проводить поверку и калибровку, а также выполнять ремонт такого серсдства. В то же
					время важно отметить, что запрещается производство и продажа таких измерительных устройств.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__control faq__control" aria-expanded="false">
					<h5 class="title faq__title-control faq__title-control faq__title-control">
						Срок ремонта оборудования?
					</h5>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="faq__icon"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
					>
						<circle cx="16" cy="16" r="16" fill="#359E5F" />
						<line x1="16" y1="7" x2="16" y2="26" stroke="white" stroke-width="2" class="faq__icon-line" />
						<line x1="6" y1="16" x2="26" y2="16" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<div class="accordion__content" aria-hidden="true">
					Даже если срок действия сертификата на средство измерения (СИ) истек, вы все равно можете продолжать
					использовать его, проводить поверку и калибровку, а также выполнять ремонт такого серсдства. В то же
					время важно отметить, что запрещается производство и продажа таких измерительных устройств.
				</div>
			</div>
			<div class="accordion">
				<div class="accordion__control faq__control" aria-expanded="false">
					<h5 class="title faq__title-control faq__title-control">
						Гарантия на отремонтированное оборудование?
					</h5>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="faq__icon"
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
					>
						<circle cx="16" cy="16" r="16" fill="#359E5F" />
						<line x1="16" y1="7" x2="16" y2="26" stroke="white" stroke-width="2" class="faq__icon-line" />
						<line x1="6" y1="16" x2="26" y2="16" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<div class="accordion__content" aria-hidden="true">
					Даже если срок действия сертификата на средство измерения (СИ) истек, вы все равно можете продолжать
					использовать его, проводить поверку и калибровку, а также выполнять ремонт такого серсдства. В то же
					время важно отметить, что запрещается производство и продажа таких измерительных устройств.
				</div>
			</div>
		</div>
	</div>
</section>
