<div class="footer">
	<div class="container footer__container">
		<div class="list-reset footer__list">
			<div class="footer__item footer__item-1">
				<h5 class="title footer__title">
					Перепечатка материалов с сайта разрешается с письменного согласия владельца сайта
				</h5>
				<h5 class="title footer__title footer__title-mobile">
					<span class="footer__title-green">ИНН:</span> 123456789
					<span class="footer__title-green">ОГРН:</span> 123456789
				</h5>
			</div>
			<div class="footer__item footer__item-2">
				<a href="#" class="footer__title footer__link">Политика конфиденциальности</a>
			</div>
			<div class="footer__item footer__item-3">
				<h5 class="title footer__title">
					Данный сайт носит информационный характер и не является публичной офертой (ст. 435 ГК РФ)
				</h5>
			</div>
			<div class="footer__item footer__item-4 footer__item-desktop">
				<h5 class="title footer__title">
					<span class="footer__title-green">ИНН:</span> 123456789
					<span class="footer__title-green">ОГРН:</span> 123456789
				</h5>
			</div>
			<div class="footer__item footer__item-5">
				<h5 class="title footer__title">© 2016-2023 Все права защищены</h5>
			</div>
			<div class="footer__item footer__item-6">
				<h5 class="title footer__title">Разработка сайта <span class="footer__title-green">DLMG.ru</span></h5>
			</div>
		</div>
	</div>
</div>
