<section class="hero">
	<div class="container hero__container">
		<div class="hero__content">
			<h4 class="title hero__subtitle">
				Любые услуги от подбора оборудования и поставок, до обслуживания и списания:
			</h4>
			<h1 class="title title__h1 hero__title">Обслуживание и ремонт лабораторного оборудования «Под ключ»</h1>
			<ul class="list-reset hero__list">
				<li class="hero__item">Хроматографы</li>
				<li class="hero__item">Атомные абсорбционные спектрометры</li>
				<li class="hero__item">Эмиссионные ICP спектрометры</li>
				<li class="hero__item">ICP-MS</li>
			</ul>
			<button class="btn-reset button__primary hero__button hero__button-desktop">Получить консультацию</button>
		</div>
		<img
			loading="lazy"
			src="./img/hero-image.png"
			class="image hero__image"
			width="591"
			height="600"
			alt="Оборудование"
		/>
		<button class="btn-reset button__primary hero__button hero__button-mobile">Получить консультацию</button>
	</div>
</section>
