<section class="jobs">
	<div class="container jobs__container">
		<h2 class="title title__h2 title__h2-green jobs__title">Где работают учатники курсов M-Lab</h2>
		<ul class="list-reset jobs__list">
			<li class="jobs__item jobs__item-1">
				<img
					src="./img/jobs-icon-1.png"
					class="image jobs__icon-1"
					width="196"
					height="52"
					alt="Логотип Тинькофф"
				/>
			</li>
			<li class="jobs__item jobs__item-2">
				<img src="./img/jobs-icon-2.png" class="image jobs__icon-2" width="75" height="52" alt="Логотип AIC" />
			</li>
			<li class="jobs__item jobs__item-3">
				<img
					src="./img/jobs-icon-3.png"
					class="image jobs__icon-3"
					width="298"
					height="52"
					alt="Логотип ВКонтакте"
				/>
			</li>
			<li class="jobs__item jobs__item-4">
				<img
					src="./img/jobs-icon-4.png"
					class="image jobs__icon-4"
					width="204"
					height="46"
					alt="Логотип Райффайзен БАНК"
				/>
			</li>
		</ul>
		<ul class="list-reset jobs__list">
			<li class="jobs__item jobs__item-1">
				<img
					src="./img/jobs-icon-1.png"
					class="image jobs__icon-1"
					width="196"
					height="52"
					alt="Логотип Тинькофф"
				/>
			</li>
			<li class="jobs__item jobs__item-2">
				<img src="./img/jobs-icon-2.png" class="image jobs__icon-2" width="75" height="52" alt="Логотип AIC" />
			</li>
			<li class="jobs__item jobs__item-3">
				<img
					src="./img/jobs-icon-3.png"
					class="image jobs__icon-3"
					width="298"
					height="52"
					alt="Логотип ВКонтакте"
				/>
			</li>
			<li class="jobs__item jobs__item-4">
				<img
					src="./img/jobs-icon-4.png"
					class="image jobs__icon-4"
					width="204"
					height="46"
					alt="Логотип Райффайзен БАНК"
				/>
			</li>
		</ul>
		<ul class="list-reset jobs__list">
			<li class="jobs__item jobs__item-1">
				<img
					src="./img/jobs-icon-1.png"
					class="image jobs__icon-1"
					width="196"
					height="52"
					alt="Логотип Тинькофф"
				/>
			</li>
			<li class="jobs__item jobs__item-2">
				<img src="./img/jobs-icon-2.png" class="image jobs__icon-2" width="75" height="52" alt="Логотип AIC" />
			</li>
			<li class="jobs__item jobs__item-3">
				<img
					src="./img/jobs-icon-3.png"
					class="image jobs__icon-3"
					width="298"
					height="52"
					alt="Логотип ВКонтакте"
				/>
			</li>
			<li class="jobs__item jobs__item-4">
				<img
					src="./img/jobs-icon-4.png"
					class="image jobs__icon-4"
					width="204"
					height="46"
					alt="Логотип Райффайзен БАНК"
				/>
			</li>
		</ul>
		<button class="btn-reset button__primary jobs__button">Выбрать форму обучения</button>
	</div>
</section>
