<section class="lab">
	<div class="container lab__container">
		<h2 class="title title__h2 lab__title">
			Наша <span class="title__h2-green">Лаборатория и ремонтная мастерская</span>
		</h2>
		<div class="lab__row">
			<div class="lab__textarea">
				<h5 class="title lab__title-textarea">
					Одно из наших сильных преимуществ - наличие собственной аккредитованной лаборатории и ремонтной
					мастерской:
				</h5>
				<ul class="list-reset lab__list">
					<li class="lab__item">Мы аккредитованы на поверку обслуживаемых средств измерений</li>
					<li class="lab__item">Имеем лицензию на ремонт медицинской техники</li>
					<li class="lab__item">Имеем лицензию департамента образования и проводим обучение</li>
					<li class="lab__item">
						Подводим газ, электричество, вентиляцию к приборам, организуем рабочее место
					</li>
					<li class="lab__item">
						Берём лаборатории на полное техническое обслуживание Всего приборного парка
					</li>
				</ul>
			</div>
			<img src="./img/lab-image.png" class="image lab__image" width="508" height="304" alt="Фото лаборатории" />
		</div>
		<ul class="list-reset lab__gallery">
			<li class="lab__photo lab__photo-1">
				<img
					src="./img/lab-photo-1.png"
					class="image"
					width="251"
					height="150"
					alt="Фото лаборатории и сотрудника"
				/>
			</li>
			<li class="lab__photo lab__photo-2">
				<img
					src="./img/lab-photo-2.png"
					class="image"
					width="251"
					height="150"
					alt="Фото лаборатории и сотрудника"
				/>
			</li>
			<li class="lab__photo lab__photo-3">
				<img
					src="./img/lab-photo-3.png"
					class="image"
					width="251"
					height="150"
					alt="Фото лаборатории и сотрудника"
				/>
			</li>
			<li class="lab__photo lab__photo-4">
				<img
					src="./img/lab-photo-4.png"
					class="image"
					width="251"
					height="150"
					alt="Фото лаборатории и сотрудника"
				/>
			</li>
		</ul>
	</div>
</section>
