<section class="license">
	<div class="container license__container">
		<div class="license__container-image">
			<img
				src="./img/license-image.png"
				class="image license__image"
				width="213"
				height="328"
				alt="Изображение лицензии"
			/>
			<a href="./img/license-image-x4.png" target="_blank" class="license__link">
				<img
					loading="lazy"
					src="./img/license-icon.svg"
					class="image license__icon"
					width="60"
					height="60"
					alt="Иконка лупы"
				/>
			</a>
		</div>
		<div class="license__textarea">
			<h2 class="title title__h2 license__title">
				<span class="title__h2-green">Государственная лицензия</span> на образовательную деятельность
			</h2>
			<p class="paragraph license__paragraph">
				Компания занимается обучением с 2017 года, на основании государственной лицензии №Л035-01298-77/00184481
				выданной департаментом образования и науки города Москвы
			</p>
		</div>
	</div>
</section>
