<section class="line">
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
	<h4 class="title line__title">M-Lab - это не только обучение</h4>
</section>
