<section class="projects">
	<div class="container projects__container">
		<div class="projects__content">
			<div class="projects__row">
				<div class="projecs__column">
					<h4 class="title projects__subtitle">Надежный подрядчик</h4>
					<h3 class="title projects__title">
						Принимаем участие в государственных и коммерческих тендерах
						<span class="projects__title-nowrap">по 44-ФЗ и 223-ФЗ</span>
					</h3>
					<p class="projects__descr">
						ООО «М-Лаб Метрология» уже несколько лет принимает участие в государственных, муниципальных и
						коммерческих тендерах иявляется поставщиком. Все тендеры выполнены без нареканий и сданы точно в
						срок.
					</p>
					<button class="btn-reset button__primary">Обсудить проект</button>
				</div>
				<img
					src="./img/projects-image.png"
					class="image projects__image"
					width="406"
					height="372"
					alt="Фото о тендерах"
				/>
			</div>
			<ul class="projects__clients list-reset">
				<li class="projects__item">
					<img
						src="./img/projects-icon-1.png"
						class="image projects__icon-fso"
						width="58"
						height="67"
						alt="Логотип ФСО России"
					/>
					<h5 class="title projects__title-item projects__title-item-1">Фсо России</h5>
				</li>
				<li class="projects__item">
					<img
						src="./img/projects-icon-2.png"
						class="image projects__icon-mid"
						width="116"
						height="51"
						alt="Логотип МИД"
					/>
					<h5 class="title projects__title-item projects__title-item-2">
						ФКУ "ЦХИСО УМВД РОССИИ ПО ВОЛОГОДСКОЙ ОБЛАСТИ"
					</h5>
				</li>
				<li class="projects__item">
					<img
						src="./img/projects-icon-3.png"
						class="image projects__icon-rkn"
						width="166"
						height="67"
						alt="Логотип РКН"
					/>
					<h5 class="title projects__title-item projects__title-item-3">ФБУН НИИ СБМ РОСПОТРЕБНАДЗОРА</h5>
				</li>
				<li class="projects__item">
					<img
						src="./img/projects-icon-4.png"
						class="image projects__icon-mvd"
						width="116"
						height="67"
						alt="Логотип МВД"
					/>
					<h5 class="title projects__title-item projects__title-item-4">МВД ПО РЕСПУБЛИКЕ БАШКОРТОСТАН</h5>
				</li>
				<li class="projects__item">
					<img
						src="./img/projects-icon-5.png"
						class="image projects__icon-mzo"
						width="38"
						height="67"
						alt="Логотип министерства здравоохранения"
					/>
					<h5 class="title projects__title-item projects__title-item-5">ФГБОУ ВО ПГФА МИНЗДРАВА РОССИИ</h5>
				</li>
				<li class="projects__item">
					<img
						src="./img/projects-icon-6.png"
						class="image projects__icon-yvd"
						width="66"
						height="67"
						alt="Логотип министерства здравоохранения"
					/>
					<h5 class="title projects__title-item projects__title-item-6">
						УВД ПО САО ГУ МВД РОССИИ ПО Г.МОСКВЕ
					</h5>
				</li>
			</ul>
			<a href="#" class="btn-reset button__primary projects__button">
				Проверить на сайте <span class="projects__link">«За честный бизнес»</span>
			</a>
		</div>
	</div>
</section>
