<section class="reserve">
	<div class="container reserve__container">
		<div class="reserve__column">
			<h2 class="title title__h2 title__h2-green reserve__title">
				Записаться на курс или получить бесплатную консультацию
			</h2>
			<img
				src="./img/reserve-arrow.svg"
				class="image reserve__arrow reserve__arrow-desktop"
				width="515"
				height="74"
				alt="Стрелка вправо"
			/>
		</div>
		<form class="reserve__form">
			<div class="reserve__container-inputs">
				<input type="text" name="reserve-name" id="reserve-phone" class="reserve__input" placeholder="Имя" />
				<input
					type="text"
					name="reserve-phone"
					id="reserve-phone"
					class="reserve__input phone-mask-input"
					placeholder="Номер телефона"
				/>
			</div>
			<button class="btn-reset button__primary reserve__button" type="submit">Отправить</button>
			<p class="paragraph reserve__paragraph">
				Нажимая на кнопку, я соглашаюсь на обработку персональных данных и с правилами пользования Платформой
			</p>
		</form>
	</div>
</section>
