<!-- save 1 -->
<!-- <section class="save save-1">
	<div class="container save__container">
		<h2 class="title title__h2 save__title">
			Поможем <span class="title__h2-green">сэкономить до 50%</span> на покупке оборудования за счет налаженных
			цепочек поставок <span class="title__h2-green">нового и б/у оборудования</span>
		</h2>
		<h4 class="title save__subtitle">Если у Вас возникла необходимость:</h4>
		<ul class="list-reset save__list">
			<li class="save__item">В обновлении имеющегося модельного ряда оборудования</li>
			<li class="save__item">В расширении арсенала Вашей лаборатории</li>
		</ul>
		<p class="paragraph save__paragraph">
			Мы поможем найти и доставить любое оборудование, даже если его больше официально не поставляют на территорию
			России, если оно снято с производства, либо подберем оптимальную альтернативу по
			<span class="save__paragraph-nowrap">цене / качеству.</span>
		</p>
		<button class="btn-reset button__primary save__button">Оставить заявку</button>
	</div>
</section> -->

<!-- save 2 -->
<section class="save save-2">
	<div class="container save__container">
		<div class="save__content">
			<div class="save__row">
				<div class="save__column">
					<h2 class="title title__h2 save__title">
						Поможем <span class="title__h2-green">сэкономить до 50%</span> на покупке оборудования за счет
						налаженных цепочек поставок <span class="title__h2-green">нового и б/у оборудования</span>
					</h2>
					<h5 class="title save__title-list save__text">Если у Вас возникла необходимость:</h5>
					<ul class="list-reset save__list">
						<li class="save__item save__text">В обновлении имеющегося модельного ряда оборудования</li>
						<li class="save__item save__text">В расширении арсенала Вашей лаборатории</li>
					</ul>
				</div>
				<img src="./img/save-image.png" class="image save__image" width="270" height="253" alt="Громофон" />
			</div>
			<p class="paragraph save__text save__paragraph">
				Мы поможем найти и доставить любое оборудование, даже если его больше официально не поставляют на
				территорию России, если оно снято с производства, либо подберем оптимальную альтернативу по цене /
				качеству.
			</p>
			<button class="btn-reset button__primary save__button">Оставить заявку</button>
		</div>
		<img src="./img/save-image-2.png" class="image save__image-tablet" width="323" height="382" alt="Громофон" />
		<img src="./img/save-image-3.png" class="image save__image-mobile" width="102" height="168" alt="Громофон" />
	</div>
</section>
