<section class="service">
	<!-- <div class="container service__container service__container-main">
		<h2 class="title title__h2 service__title">
			Все необходимое <span class="title__h2-green">для обслуживания Вашей лаборатории</span> в одном месте
		</h2>
		<h4 class="title service__subtitle">[Не нужно искать разных подрядчиков]</h4>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">
						Обслуживание аналитических приборов и вспомогательного оборудования в химических лабораториях
					</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Техническое обслуживание</li>
						<li class="service__item-card">Ремонт</li>
						<li class="service__item-card">Инструктаж/Обучение</li>
						<li class="service__item-card">Пуско-накладка</li>
						<li class="service__item-card">Подготовка к поверке и поверка</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Услуги метрологической лаборатории</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Утверждение типа средств измерений</li>
						<li class="service__item-card">Поверка средств измерений</li>
						<li class="service__item-card">Метрологическое обеспечение «под ключ»</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Поставки расходных материалов и запчастей</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Оригинальные и б/у запчасти</li>
						<li class="service__item-card">Изготовление снятых с производства деталей</li>
						<li class="service__item-card">Работаем в условиях санкций</li>
						<li class="service__item-card">
							Подбор и поставки нового <br />
							и б/у оборудования
						</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">Монтаж коммуникаций</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Газоснабжение</li>
						<li class="service__item-card">Водоснабжение</li>
						<li class="service__item-card">Электроснабжение</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
		</ul>
	</div> -->
	<div class="container service__container service__container-1">
		<h2 class="title title__h2 service__title">Решаем все вопросы с оборудованием</h2>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">Техническое обслуживание</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Плановое обслуживание</li>
						<li class="service__item-card">Консервация/Расконсервация</li>
						<li class="service__item-card">Перемещение оборудования</li>
						<li class="service__item-card">Инструктаж/Обучение</li>
						<li class="service__item-card">Постановка методик</li>
						<li class="service__item-card">Подготовка к поверке и поверка</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Ремонт</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Сотрудничаем с поставщиками оригинальных и б/у запчастей</li>
						<li class="service__item-card">Работаем в условиях санкций</li>
						<li class="service__item-card">Компонентный ремонт электроники</li>
						<li class="service__item-card">Изготовление снятых с производства деталей</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Пуско-наладочные работы</h4>
					<h5 class="title service__item-card service__item-card-nobefore">
						От подготовки рабочего места до выдачи свидетельства о поверке и удостоверения повышения
						квалификации
					</h5>
				</div>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">Обучение сотрудников</h4>
					<h5 class="title service__item-card service__item-card-nobefore">
						После установки нового оборудования, всегда необходимо провести обучение персонала работе с ним
					</h5>
					<h5 class="title service__item-card service__item-card-nobefore service__item-card-nobefore-bold">
						Правильное использование приборов - залог их долгой службы
					</h5>
				</div>
			</li>
		</ul>
	</div>
</section>
