<section class="service">
	<!-- service main -->
	<!-- <div class="container service__container service__container-main">
		<h2 class="title title__h2 service__title">
			Все необходимое <span class="title__h2-green">для обслуживания Вашей лаборатории</span> в одном месте
		</h2>
		<h4 class="title service__subtitle">[Не нужно искать разных подрядчиков]</h4>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">
						Обслуживание аналитических приборов и вспомогательного оборудования в химических лабораториях
					</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Техническое обслуживание</li>
						<li class="service__item-card">Ремонт</li>
						<li class="service__item-card">Инструктаж/Обучение</li>
						<li class="service__item-card">Пуско-накладка</li>
						<li class="service__item-card">Подготовка к поверке и поверка</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Услуги метрологической лаборатории</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Утверждение типа средств измерений</li>
						<li class="service__item-card">Поверка средств измерений</li>
						<li class="service__item-card">Метрологическое обеспечение «под ключ»</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Поставки расходных материалов и запчастей</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Оригинальные и б/у запчасти</li>
						<li class="service__item-card">Изготовление снятых с производства деталей</li>
						<li class="service__item-card">Работаем в условиях санкций</li>
						<li class="service__item-card">
							Подбор и поставки нового <br />
							и б/у оборудования
						</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">Монтаж коммуникаций</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Газоснабжение</li>
						<li class="service__item-card">Водоснабжение</li>
						<li class="service__item-card">Электроснабжение</li>
					</ul>
				</div>
				<a class="service__link-more" href="#">Подробнее</a>
			</li>
		</ul>
	</div> -->

	<!-- service 1 -->
	<!-- <div class="container service__container service__container-1">
		<h2 class="title title__h2 service__title">Решаем все вопросы с оборудованием</h2>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">Техническое обслуживание</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Плановое обслуживание</li>
						<li class="service__item-card">Консервация/Расконсервация</li>
						<li class="service__item-card">Перемещение оборудования</li>
						<li class="service__item-card">Инструктаж/Обучение</li>
						<li class="service__item-card">Постановка методик</li>
						<li class="service__item-card">Подготовка к поверке и поверка</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Ремонт</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Сотрудничаем с поставщиками оригинальных и б/у запчастей</li>
						<li class="service__item-card">Работаем в условиях санкций</li>
						<li class="service__item-card">Компонентный ремонт электроники</li>
						<li class="service__item-card">Изготовление снятых с производства деталей</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Пуско-наладочные работы</h4>
					<h5 class="title service__item-card service__item-card-nobefore">
						От подготовки рабочего места до выдачи свидетельства о поверке и удостоверения повышения
						квалификации
					</h5>
				</div>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">Обучение сотрудников</h4>
					<h5 class="title service__item-card service__item-card-nobefore">
						После установки нового оборудования, всегда необходимо провести обучение персонала работе с ним
					</h5>
					<h5 class="title service__item-card service__item-card-nobefore service__item-card-nobefore-bold">
						Правильное использование приборов - залог их долгой службы
					</h5>
				</div>
			</li>
		</ul>
	</div> -->

	<!-- service 2 -->
	<!-- <div class="container service__container service__container-2">
		<h2 class="title title__h2 service__title">Из чего состоит услуга:</h2>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">Подготовка</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Сбор всей небходимой информации и подача заявки на испытания</li>
						<li class="service__item-card">
							Предоставление образцов, технической и эксплуатационной документации
						</li>
					</ul>
					<h5 class="title service__item-card service__item-card-nobefore">
						<span class="service__item-card-nobefore-exclamation">!</span> Только полный комплект документов
						и качественных образцов позволит уложиться в установленные сроки
					</h5>
				</div>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Испытания образцов на тип СИ</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Согласование программы и проведение лабораторных испытаний</li>
						<li class="service__item-card">Присвоение образцам типа средств измерений</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Документация</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Подготовка и согласование комплекта документов</li>
						<li class="service__item-card">
							Передача документов на экспертизу в Единый центр проверки результатов испытаний (ВНИИМС)
						</li>
						<li class="service__item-card">Передача документов в Росстандарт</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">Оформление приказа и выдача сертификата</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Публикация приказа Росстандарта</li>
						<li class="service__item-card">
							Получение в Росстандарте свидетельства (сертификата) об утверждении типа СИ
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div> -->

	<!-- service 3 -->
	<!-- <div class="container service__container-3-titles">
		<h2 class="title title__h2 service__title service__title-main">
			Компания M-Lab -
			<span class="title__h2-green">все, что нужно для бесперебойной работы лабораторного оборудования</span>
		</h2>
		<p class="paragraph service__paragraph">
			С февраля 2022 года, мы наладили новые цепочки поставок, для того, чтобы лаборатории, имеющие иностранное
			оборудование, смогли и дальше его использовать, обслуживать и ремонтировать.
		</p>
	</div>
	<div class="container service__container service__container-2 service__container-3">
		<h2 class="title title__h2 service__title">Как мы помогаем лабораториям?</h2>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">Поставка расходников</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">
							Работаем с базой поставщиков, как оригинальных расходников, так и их аналогов
						</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Запчасти для оборудования</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">
							Сотрудничаем с поставщиками оригинальных и
							<span class="service__item-card-nowrap">б/у</span> запчастей
						</li>
						<li class="service__item-card">Изготавливаем снятые с производства детали</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Поиск и доставка оборудования</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">
							Поиск и доставка нового и <span class="service__item-card-nowrap">б/у</span> оборудования по
							заданию Заказчика
						</li>
						<li class="service__item-card">Техническая экспертиза оборудования</li>
						<li class="service__item-card">Заключение для списания оборудования</li>
						<li class="service__item-card">
							Оценка состояния при покупке <span class="service__item-card-nowrap">б/у</span> оборудования
						</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">А также</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">Обслуживание и ремонт оборудования</li>
						<li class="service__item-card">Услуги метрологической лаборатории</li>
						<li class="service__item-card">Монтаж коммуникаций к лабораторному оборудованию</li>
						<li class="service__item-card">Обучение</li>
					</ul>
				</div>
			</li>
		</ul>
	</div> -->

	<!-- service 4 -->
	<div class="container service__container-icons">
		<ul class="list-reset service__list-icons">
			<li class="service__item-icon service__item-icon-1">
				<img
					src="./img/service-icon-1.svg"
					class="image service__icon service__icon-1"
					width="70"
					height="70"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon service__title-icon-1">Монтаж вентиляции</h5>
			</li>
			<li class="service__item-icon service__item-icon-2">
				<img
					src="./img/service-icon-2.svg"
					class="image service__icon service__icon-2"
					width="70"
					height="70"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon">Монтаж систем аспирации</h5>
			</li>
			<li class="service__item-icon service__item-icon-3">
				<img
					src="./img/service-icon-3.svg"
					class="image service__icon service__icon-3"
					width="70"
					height="70"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon service__title-icon-3">Монтаж систем увлажнения воздуха</h5>
			</li>
			<li class="service__item-icon service__item-icon-4">
				<img
					src="./img/service-icon-4.svg"
					class="image service__icon service__icon-4"
					width="70"
					height="70"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon">Монтаж систем противодымной вентиляции</h5>
			</li>
			<li class="service__item-icon service__item-icon-5">
				<img
					src="./img/service-icon-5.svg"
					class="image service__icon service__icon-5"
					width="91"
					height="60"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon">Монтаж систем кондиционирования</h5>
			</li>
			<li class="service__item-icon service__item-icon-6">
				<img
					src="./img/service-icon-6.svg"
					class="image service__icon service__icon-6"
					width="76"
					height="67"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon">Монтаж систем холодоснабжения</h5>
			</li>
			<li class="service__item-icon service__item-icon-7">
				<img
					src="./img/service-icon-7.svg"
					class="image service__icon service__icon-7"
					width="70"
					height="70"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon service__title-icon-7">Монтаж систем осушения воздуха</h5>
			</li>
			<li class="service__item-icon service__item-icon-8">
				<img
					src="./img/service-icon-8.svg"
					class="image service__icon service__icon-8"
					width="101"
					height="85"
					alt="Иконка услуги"
				/>
				<img
					src="./img/service-icon-9.svg"
					class="image service__icon service__icon-9"
					width="70"
					height="70"
					alt="Иконка услуги"
				/>
				<h5 class="title service__title-icon">Автоматизация и диспетчеризация</h5>
			</li>
		</ul>
	</div>
	<div class="container service__container service__container-4">
		<h2 class="title title__h2 service__title">Что входит в работы:</h2>
		<ul class="list-reset service__list">
			<li class="service__item service__item-1">
				<div class="service__container-item">
					<h4 class="title service__title-card">Составление графика производства работ</h4>
					<h5 class="title service__item-card service__item-card-nobefore">
						После согласования технического задания с Заказчиком, составляется график производства работ. В
						нём отражается порядок, сроки поставки оборудования и материалов, а также последовательность и
						продолжительность этапов выполнения работ;
					</h5>
				</div>
			</li>
			<li class="service__item service__item-2">
				<div class="service__container-item">
					<h4 class="title service__title-card">Комплектация объекта</h4>
					<h5 class="title service__item-card service__item-card-nobefore">
						На основании согласованной документации, производится комплектация объекта, а так же закупка
						необходимого оборудования и материалов
					</h5>
				</div>
			</li>
			<li class="service__item service__item-3">
				<div class="service__container-item">
					<h4 class="title service__title-card">Монтаж инженерных коммуникаций и оборудования</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">1. Монтаж коммуникаций</li>
						<li class="service__item-card">2. Монтаж оборудования</li>
						<li class="service__item-card">3. Монтаж пультов, розеток, кондиционеров и т.д.</li>
					</ul>
				</div>
			</li>
			<li class="service__item service__item-4">
				<div class="service__container-item">
					<h4 class="title service__title-card">Подготовка оборудования к работе</h4>
					<ul class="list-reset service__list-card">
						<li class="service__item-card">1. Пуско-наладочные работы</li>
						<li class="service__item-card">2. Проверка и испытания оборудования</li>
						<li class="service__item-card">3. Паспортизация смонтированных систем</li>
						<li class="service__item-card">4. Сдача объекта в эксплуатацию</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>
