<section class="team">
	<div class="container team__container">
		<h3 class="title team__subtitle">(Инженеры, лаборанты, сметчики, логисты, прорабы)</h3>
		<h2 class="title title__h2 team__title">
			<span class="title__h2-green">Над Вашим проектом</span> будет работать слаженная команда
		</h2>
		<div class="team__grid">
			<div class="team__item">
				<div class="team__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image team__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="team__textarea">
					<p class="paragraph team__name">Имя Фамилия</p>
					<p class="paragraph team__job">Инженер</p>
				</div>
			</div>
			<div class="team__item">
				<div class="team__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image team__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="team__textarea">
					<p class="paragraph team__name">Имя Фамилия</p>
					<p class="paragraph team__job">Инженер</p>
				</div>
			</div>
			<div class="team__item">
				<div class="team__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image team__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="team__textarea">
					<p class="paragraph team__name">Имя Фамилия</p>
					<p class="paragraph team__job">Инженер</p>
				</div>
			</div>
			<div class="team__item">
				<div class="team__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image team__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="team__textarea">
					<p class="paragraph team__name">Имя Фамилия</p>
					<p class="paragraph team__job">Инженер</p>
				</div>
			</div>
			<div class="team__item team__item-photo">
				<img
					src="./img/team-image.png"
					class="image team__image"
					width="540"
					height="472"
					alt="Фото лаборатории"
				/>
			</div>
			<div class="team__item team__item-notOnlyNameAndJob">
				<div class="team__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image team__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="team__textarea">
					<p class="paragraph team__name">Имя Фамилия</p>
					<div class="team__education">
						<p class="paragraph team__title-textarea">Образование:</p>
						<p class="paragraph team__text-textarea">Высшее, СПБГУ, инженер-строитель</p>
					</div>
					<div class="team__expertance">
						<p class="paragraph team__title-textarea">Экспертность:</p>
						<p class="paragraph team__text-textarea">Организация и управление проектами</p>
					</div>
					<div class="team__experience">
						<p class="paragraph team__title-textarea">Опыт работы:</p>
						<p class="paragraph team__text-textarea">более 10 лет, участие и реализация 20 проектов</p>
					</div>
				</div>
			</div>
			<div class="team__item team__item-notOnlyNameAndJob">
				<div class="team__container-avatar">
					<img
						src="./img/team-photo.png"
						class="image team__avatar"
						width="210"
						height="210"
						alt="Фото члена команды"
					/>
				</div>
				<div class="team__textarea">
					<p class="paragraph team__name">Имя Фамилия</p>
					<div class="team__education">
						<p class="paragraph team__title-textarea">Образование:</p>
						<p class="paragraph team__text-textarea">Высшее, СПБГУ, инженер-строитель</p>
					</div>
					<div class="team__expertance">
						<p class="paragraph team__title-textarea">Экспертность:</p>
						<p class="paragraph team__text-textarea">Организация и управление проектами</p>
					</div>
					<div class="team__experience">
						<p class="paragraph team__title-textarea">Опыт работы:</p>
						<p class="paragraph team__text-textarea">более 10 лет, участие и реализация 20 проектов</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
