<section class="thanks">
	<div class="container thanks__container">
		<h3 class="title thanks__title">Отлично!</h3>
		<h4 class="title thanks__subtitle">Спасибо за заявку!</h4>
		<p class="paragraph thanks__paragraph">
			В течение 10 минут с Вами свяжется наш менеджер, для уточнения деталей
		</p>
		<a href="./" class="btn-reset button__primary thanks__button">Вернуться на главную</a>
	</div>
	<div class="container thanks__container-bg">
		<h4 class="title thanks__subtitle-bottom">
			Если заявка оставлена после 20:00, мы свяжемся с Вами завтра, после 09:00
		</h4>
	</div>
</section>
