<section class="vacancy">
	<div class="container vacancy__container">
		<img src="./img/vacancy-image.png" class="image vacancy__image" width="170" height="170" alt="Аватар" />
		<div class="vacancy__column">
			<div class="vacancy__row">
				<div class="vacancy__department">
					<h5 class="title vacancy__subtitle">Hr-отдел</h5>
					<h4 class="title vacancy__title">Иван Петров</h4>
				</div>
				<div class="vacancy__email">
					<h5 class="title vacancy__subtitle">Электронная почта</h5>
					<a href="mailto:hr@m-lab.pro" class="title vacancy__title">hr@m-lab.pro</a>
				</div>
				<div class="vacancy__phone">
					<h5 class="title vacancy__subtitle">Телефон</h5>
					<a href="tel:74999999999" class="title vacancy__title">+7 (499) 999-99-99</a>
				</div>
			</div>
			<p class="paragraph vacancy__paragraph vacancy__paragraph-desktop">
				Наша компания всегда находится в поиске квалифицированных сотрудников - инженеров, менеджеров продаж,
				тендерных специалистов и тд. Все открытые вакансии представлены на этой странице ниже. По всем
				дополнительным вопросам - звоните по указанному выше телефону.
			</p>
		</div>
	</div>
	<div class="container vacancy__container-mobile">
		<p class="paragraph vacancy__paragraph">
			Наша компания всегда находится в поиске квалифицированных сотрудников - инженеров, менеджеров продаж,
			тендерных специалистов и тд. Все открытые вакансии представлены на этой странице ниже. По всем
			дополнительным вопросам - звоните по указанному выше телефону.
		</p>
	</div>
</section>
