:root {
	// base
	--font-family: "RFDewiExtended", sans-serif;
	--content-width: 1110px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--real-black-color: #000;
	--white-color: #fff;
	--half-black-color: #484848;
	--black-color: #242424;
	--light-green-color: #b6dfca;
	--green-color: #17cc5f;
	--dark-green-color: #359e5f;
	--blue-color: #053850;
	--dark-grey-color: #494949;
	--darker-grey-color: #5c5c5c;
	--grey-color: #f4f4f4;
	--light-grey-color: #f6faff;
	--after-grey-color: #afc8cb;
	--input-border-color: #6a6a6a;
}
